@import url('./Helpers/VariableCss.css');
.card{
width: 100%;
height: max-content;
padding-top: 0.5rem;
z-index: 2;
box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.3);
border-radius:0 0.6rem 0.6rem 0.6rem;
}
.card:hover{
    transform : scale(1.01);
    z-index: 3;  
}
.add{
    height: max-content;
}
.item__hidden{
    display: none;
    transition: 2s;
}
.card__content{
    position: relative;
    border: 0.3rem var(--black) solid;
    border-radius:0 0.6rem 0.6rem 0.6rem;
}
.card__content div{
position: relative;
z-index: 1;
}
.card__content ~ div div:first-of-type{
    margin-bottom: 0;
}
.card__content div:first-of-type h3{
    border-radius:0 0.3rem 0 0;
}

.card__title{
    font-size: 2.1rem;
    margin-left: 1rem;
    color: var(--white);
    background-color: var(--black);
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 1rem;
    width: max-content;

}
.properties div:last-of-type, .method div:last-of-type{
    margin-bottom: 0;
    padding-bottom: 0.4rem;
}

.properties, .method {

}
.properties__title, .methods__title,.card__title{
    position: relative;
    text-align: start;
}
.properties__title, .methods__title{
    margin: 0;
    font-size: 1.8rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    background-image: url('../svg/arrowup.svg');
    background-position: right center;
    background-repeat: no-repeat;
    transition: 0.2s;
}
.bg_svg{
    background-image: url('../svg/arrowdown.svg');
}
.properties__title svg, .methods__title svg{
 padding-right: 1rem;
}