@import url('./Helpers/VariableCss.css');
.footer{
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: var(--light-bg);
    text-align: center;
    padding: 1rem;
}
.footer__span{
    color: var(--footer-text);
    font-size: 1.6rem;
}
.footer__span a{
    color: var(--footer-link);
    font-size: 1.8rem;
    text-decoration: none;
    
}
.footer__span a:hover{
    color: var(--footer-link-hover);
}