.item{
    font-size: 1.6rem;
    line-height: 1.7rem;
    display: flex;
    width: 100%;
    height: 2rem;
    margin-bottom: 0.3rem;
    margin-top:0.4rem;
}
.item__acrive{
    height: 500px;
}
.item:hover{
    color: black;
    background-color: beige;
}
.item__text{
    color: #dcdc8b;
    padding-left: 0.5rem;
    font-weight: 600;
}
.item__text:hover{
    color: black;
}
.item__span{
    color: rgba(96, 96, 93, 0.81);
}

.type__object,
.type__string,
.type__number,
.type__boolean,
.type__array,
.type__nan,
.type__date,
.type__regular-expresion,
.type__function,
.type__undefined,
.type__promise{
    width: 2rem;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
}
.type__object{
    background-color: rgb(71, 71, 198);
}
.type__string{
    background-color: rgb(198, 71, 162);
}
.type__number{
    color: white;
    background-color: rgb(43, 25, 239);
}
.type__nan{
    color: red;
    background-color: rgb(108, 97, 223);
}
.type__boolean{
    background-color: #6e1a12;
}
.type__array{
    background-color: #73c991;
}
.modalwindow{
    height: 100px;
    width: 100px;
    background-color: black;
}
.type__date{
    background-color: #7388c9; 
}
.type__regular-expresion{
    background-color: #b96d11; 
}
.type__function{
    background-color: #b6b0a8;
}
.type__undefined{
    background-color: #555454;
}
.type__promise{
    background-color: #631c1c;
}