.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;

    --min-width: 25rem;
    --max-width: 140rem;
  
    --flap: minmax(0.5rem, 1fr);
    --content: minmax(var(--min-width), var(--max-width));
  
    display: grid;
    grid-template-columns:
      var(--flap)
      var(--content)
      var(--flap);

    grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
}
.modal__wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.714);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
   
}

.modal__window{
    background-color: #252526;
    padding: 1rem 0.5rem;
    z-index: 3;
    padding-bottom: 5rem;
    grid-column: 2/3;
    grid-row: 2/3;
    

} 
.modal__header{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
}
.modal__title{
    color: #dcdc8b;
    display: flex;
    font-size: 2.4rem;
    font-weight: 500;
    margin-right: 3rem;

}
.modal__button-cancel{
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    font-size: 3rem;
    color: rgba(255, 0, 0, 0.532);
    border: none;
    background-color: transparent;
}
.modal__type{
    width: 3rem;
    height: 3rem;
    align-items: center;
}
.modal__code{
    font-size: 1.6rem;

}
.modal__description{
    color: aliceblue;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-left: 1.6rem;
}
@media(max-width: 1000px){
    .hljs{
        padding: 1rem;
    }
}