@import url('./Helpers/VariableCss.css');
.search__wrapper{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    height: 4rem;
    background-color: var(--dark-bg);
    border-bottom: 0.2rem var(--light-bg) solid;

    display: grid;

    grid-template-columns:1.6rem 1fr 1fr 1.6rem;
    grid-template-rows: 0.5rem 1fr 0.5rem;
}
.search__input{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: end;

    width: 15rem;
    font-size: 1.6rem;
    color: var(--text);
    background-color: var(--light-bg);
    border:none;
    outline:none;
    padding-left: 1rem;
}
.search__input-invalid{
    background-color: var(--search__input-invalid);
}
@media(max-width: 640px){
    .search__input{
        grid-column: 2/3;
        justify-self: start;
  }

}