.properties {
}
.properties div:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0.4rem;
}

.properties__title {
  position: relative;
  text-align: start;
}
.properties__title {
  margin: 0;
  font-size: 1.8rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}
.properties__title svg {
  width: 2rem;
  height: 2rem;
  padding-right: 0.5rem;
}
